@use './colors' as *;
@use './animation' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 72px;
}
body {
	background-color: $bg-color;
	font-family: 'Montserrat', serif;
	overflow-x: hidden;
}
.blue-text {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	width: 60px;
	height: 3px;
	margin: 0 auto 40px;
	background-color: $main-color;
}

nav {
	z-index: 5;
	text-transform: uppercase;
	transition: background-color 0.4s;

	.navbar-toggler {
		padding: 10px 15px;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.navbar-brand:focus,
	.navbar-brand:hover {
		color: $main-color;
	}

	.nav-link,
	.navbar-nav,
	.navbar-brand,
	.navbar-nav .nav-link.show,
	.fa-bars {
		color: $white-color;
	}
	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: $main-color;
	}
}

.hero-img {
	position: relative;
	height: 100vh;
	background-image: url('../img/playstation-ga5c6928ae_640.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $white-color;
	z-index: 0;
	h1 {
		text-transform: uppercase;
	}
	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -5;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;

		z-index: 1;
		text-align: center;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		font-size: 30px;
		color: $white-color;
		left: 50%;
		transform: translateX(-50%);
	}
}
.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		text-transform: uppercase;
		font-size: 18px;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.about-us-hero {
	position: relative;
	background-image: url('/img/technology-g9816145d5_640.jpg');
	background-position: center;
	background-size: cover;
	color: $light-grey;
	z-index: 0;

	.about-us-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}
.portfolio {
	.carousel-item {
		height: 600px;
	}
	.carousel-caption {
		background-color: rgba(0, 0, 0, 0.6);
		right: 0;
		left: 0;
		padding: 30px 0;
	}
	.carousel-indicators {
		padding-bottom: 10px;
	}
}
.prices {
	.price-box {
		padding: 30px;
		margin: 20px;
		box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
		transition: transform 0.3s;
		span {
			font-weight: bold;
		}
		i {
			padding: 0 5px;
			font-size: 16px;
		}
		.btn {
			text-transform: uppercase;
		}
	}
	.price-title {
		text-transform: uppercase;
		color: $main-color;
		font-size: 20px;
	}

	.price-tag {
		font-weight: bold;
		font-size: 26px;
	}
	.price-box:hover {
		transform: scale(1.05);
	}
	.price-info {
		a {
			text-decoration: none;
		}
	}
}
.team {
	position: relative;
	background-image: url('/img/team/background.jpeg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	z-index: 0;
	.section-title {
		color: $light-grey;
	}
	.card-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}
	.card-group {
		.card {
			transition: scale 0.3s;
			img {
				height: 300px;
				background-position: center;
				object-fit: cover;
			}
			i {
				padding: 10px;
			}
			.card-body {
				height: 150px;
				.card-title {
					text-transform: uppercase;
				}
			}
		}
	}
	.card:hover {
		scale: 0.95;
	}
}
.achievements {
	.achievements-list {
		padding: 20px 0;
		p {
			i {
				color: $white-color;
				font-size: 36px;
				text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
			}
		}
	}
	.ach-text {
		font-size: 26px;
	}
	.ach-none {
		text-transform: uppercase;
	}
}
.contact {
	position: relative;
	background-image: url('/img/skyline-gbd1a9ddf4_640.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	.section-title {
		color: $white-color;
	}
	.underline {
		background-color: $white-color;
	}
	.contact-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 9, 27, 0.85);
		z-index: -1;
	}
	h3 {
		margin-bottom: 15px;
		text-transform: uppercase;
		color: $white-color;
	}
	.contact-item {
		margin: 30px 0;
		color: $white-color;
	}
	.social-media {
		font-size: 24px;
		a {
			padding: 10px;
			color: $white-color;
			transition: color 0.3s;
		}
		a:hover {
			color: $main-color;
		}
	}
}

@media (min-width: 576px) {
	.team {
		.card-group {
			.card {
				img {
					height: 200px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.hero-text {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 20px;
		}
	}
	.team {
		.card-group {
			.card {
				img {
					height: 300px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	.hero-text {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 22px;
		}
	}
	.about-us-hero {
		background-image: url('/img/technology-g8c2b14d3a_1280.jpg');
	}
	.team {
		.card-group {
			.card {
				img {
					height: 350px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.hero-img {
		background-image: url('../img/playstation-g2637ba309_1920.jpg');
	}
}
